<mat-card>
  <mat-card-header>
    <mat-card-title data-cy="trainingsSchema-title"><mat-icon>fitness_center</mat-icon>  {{ trainingsSchema.name }} </mat-card-title>
    <mat-card-subtitle
      >added on {{ trainingsSchema.created | date: longDate }}</mat-card-subtitle
    >

    <mat-card-subtitle>categorie {{ trainingsSchema.categorie }}<br></mat-card-subtitle>
    
    <mat-card-subtitle>
      <app-rating
        [rating]="trainingsSchema.rating"
        (ratingClick)="adjustRating($event)"
      ></app-rating
    ></mat-card-subtitle>
    
    <!-- <mat-card-subtitle>
      <app-rating [rating]="trainingsSchema.rating" #ratingComponent></app-rating>
    </mat-card-subtitle> -->

  </mat-card-header>
  <mat-card-content>
    <h3 mat-subheader>exercises</h3>
    <mat-list>
      <div class="container-table100">
          <div class="wrap-table100">
              <div class="table100 ver1">
                  <div class="table100-firstcol">
                      <div class="wrap-table100-nextcols js-pscrol ps ps--actove-x">            
      <table>
        <thead>
          <tr class="row100 head">
                  <th class="cell100 column1"> Name </th>
                  <th class="cell100 column2"> Sets </th>
                  <th class="cell100 column3"> Reps </th> 
      </tr>
    </thead>
      <mat-list-item *ngFor="let exercise of trainingsSchema.exercises">
        <app-exercise [exercise]="exercise"></app-exercise>
      </mat-list-item>
    </table>
</div>
</div>
</div>
</div>
</div>
    </mat-list>
  </mat-card-content>
    <a [routerLink]="['/trainingsschema', trainingsSchema.id]">Detail</a>
</mat-card> 