<div class="row">
        <div class="col-sm-6">
            <div class="row mgbt-sx-0">
            <label class="col-xs-5 control-label">First Name:</label>
            <label class="col-xs-7 controls">{{user.firstName}}</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row mgbt-sx-0">
          <label class="col-xs-5 control-label">Last Name:</label>
          <label class="col-xs-7 controls">{{user.lastName}}</label>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="row mgbt-sx-0">
          <label class="col-xs-5 control-label">Email:</label>
          <label class="col-xs-7 controls">{{user.email}}</label>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="row mgbt-sx-0">
          <label class="col-xs-5 control-label">Rated TrainingsSchemas</label>
          <label class="col-xs-7 controls">{{user.trainingsSchemas}}</label>
        </div>
      </div>
    </div>
