<mat-card>
  <mat-card-header>
     <button mat-button (click)="returnToList()" ><mat-icon >keyboard_backspace</mat-icon>return</button>
  </mat-card-header>
  <br> <br>
  <mat-card-content>
          <mat-card-title>
            <mat-icon>fitness_center</mat-icon> {{ trainingsSchema.name }}</mat-card-title
          >
          <mat-card-subtitle
            >categorie {{ trainingsSchema.categorie }}</mat-card-subtitle
          >
          <h3 mat-subheader>exercises</h3>
    <mat-list>
      <div class="container-table100">
          <div class="wrap-table100">
              <div class="table100 ver1">
                  <div class="table100-firstcol">
                      <div class="wrap-table100-nextcols js-pscrol ps ps--actove-x">            
      <table>
        <thead>
          <tr class="row100 head">
                  <th class="cell100 column1"> Name </th>
                  <th class="cell100 column2"> Sets </th>
                  <th class="cell100 column3"> Reps </th> 
      </tr>
    </thead>
      <mat-list-item *ngFor="let exercise of trainingsSchema.exercises">
        <app-exercise [exercise]="exercise"></app-exercise>
      </mat-list-item>
    </table>
</div>
</div>
</div>
</div>
</div>
    </mat-list>

    <!-- <div class="like">
      <div style="margin-right: 1rem">
        <h2>{{ likes }} likes</h2>
      </div>
      <button class="btn btn-lg btn-success" (click)="liked()"><mat-icon>thumb_up</mat-icon>Like trainingsSchema</button>
    </div> -->

        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button (click)="openDialog()">Delete me</button>
        </mat-card-footer>
      

      <!-- <mat-card-content>
        <form [formGroup] = "trainingsSchemaF" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input 
            matInput 
            aria-label="name"
            placeholder="name" 
            type="text" 
            formControlName= "name"
            required
            data-cy = "tname"
             />
             <mat-error
                  *ngIf="trainingsSchemaF.get('name')['errors'] && 
                  trainingsSchemaF.get('name').touched"
                >
                {{ getErrorMessage(trainingsSchemaF.get('name')['errors']) }}
                </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            aria-label="categorie"
            placeholder="categorie" 
            type="text" 
            formControlName="categorie"
            required
            data-cy = "categorie"
                 />
                 <mat-error
                 *ngIf="trainingsSchemaF.get('categorie')['errors'] && 
                 trainingsSchemaF.get('categorie').touched"
               >
               {{ getErrorMessage(trainingsSchemaF.get('categorie')['errors']) }}
               </mat-error>
          </mat-form-field>
          
          <div formArrayName="exercises"
          *ngFor="let item of exercises.controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field>
              <input 
              matInput 
              placeholder="name" 
              aria-label="exercise name"
                type="text" 
                formControlName="name"
                data-cy = "exname"
                />
                </mat-form-field>
            <mat-form-field>
              <input
               matInput 
               type="text" 
               aria-label="exercise sets"
                placeholder="sets" 
                formControlName="sets"
                data-cy = "sets"
                />
            </mat-form-field>
            <mat-form-field>
                <input 
                matInput 
                type="text" 
                aria-label="exercise reps"
                placeholder="reps" 
                formControlName="reps"
                data-cy = "reps"
                />
            </mat-form-field>
          </div>
          <mat-error *ngIf="item.errors && item.get('name').touched">
              {{ getErrorMessage(item.errors) }}
            </mat-error>
        </div>
          <button type="submit" mat-raised-button [disabled]='!trainingsSchemaF.valid' data-cy="update">
            update trainingsSchema
          </button>
          
        </form>
        </mat-card-content> -->
      </mat-card>