<mat-card>
    <mat-card-header>
        <button mat-button (click)="returnToList()" ><mat-icon >keyboard_backspace</mat-icon>return</button>
    </mat-card-header>

    <mat-card-content>
        <mat-card-title data-cy="userDetails-title"><mat-icon>person</mat-icon>  Userdetails </mat-card-title>
        <mat-card-subtitle
          >todays date {{ today | date: longDate }}</mat-card-subtitle
        > 
        UNDER CONSTRUCTION!!!!
        <div *ngFor="let localUser of (user$ | async)">
      <app-user [user]= "localUser"></app-user>
    </div>
    </mat-card-content>
    </mat-card>
